<h1>Basket</h1>

<% flash.each do |k,m| %>
  <p><strong><%= k.humanize %></strong> -- <%= m %></p>
<% end %>

<%= form_tag scan_path do %>
  <%= select_tag :product_code, options_for_select(Product.order(name: :asc).map{|p| ["#{p.code} -- #{p.name}",p.code] }), { prompt: "Select product" } %>
  <%= submit_tag "Scan" %>
<% end %>

<h2>Contents</h2>

<table class="table striped">
  <thead>
    <tr>
      <th>Product</th>
      <th class="text-right" style="width:120px;">Price</th>
    </tr>
  </thead>
  <tbody>
    <% if @basket.contents.any? %>
      <% @basket.contents.each do |item| %>
        <tr>
          <td><%= item[:name] %></td>
          <td class="currency"><%= number_to_currency(item[:price],{ unit: "£" }) %></td>
        </tr>
      <% end %>
      <tr class="border">
        <td><strong>Subtotal</strong></td>
        <td class="currency"><%= number_to_currency(@basket.subtotal,{ unit: "£" }) %></td>
      </tr>
      <tr>
        <td><strong>VAT total</strong></td>
        <td class="currency"><%= number_to_currency(@basket.vat_total,{ unit: "£" }) %></td>
      </tr>
      <tr>
        <td><strong>Discount</strong></td>
        <td class="currency">-<%= number_to_currency(@basket.discount,{ unit:"£" }) %></td>
      </tr>
      <tr class="border">
        <td><strong>Grand Total</strong></td>
        <td class="currency"><%= number_to_currency(@basket.total,{ unit: "£" }) %></td>
      </tr>
    <% else %>
      <tr>
        <td colspan="2" style="text-align:center;"><em>Nothing in your basket</em></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if @basket.contents.any? %><p><%= link_to "Clear basket", clear_path %></p><% end %>
